<nav class="top-menu">
  <%if current_user.present? %>
    <div class="users-menu">
        <%=image_tag("arrow-down.jpg", :class => "drop-down-img")%>
             <ul class="drop-down-content">
              <li><a href="#">Photoshop</a></li>
              <li><a href="#">Illustrator</a></li>
              <li><a href="#">Web Design</a></li>
            </ul>
        <%=link_to("#{current_user.name}", user_path(current_user), :class => "users-name")%>
        <%=image_tag("Avatar-blank.jpg", :class => "users-photo")%>
    </div>
  <%else%>
  <%end%>
    <ul class="nav-list">
      <li><%=link_to("Home", root_path)%></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><%=link_to("Sign up", new_user_registration_path)%></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><a href="about.asp">About</a></li>
    </ul>
</nav>

<div class="row container">
  <div class="whitespace col-md-12">
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-8">
    <% @photos.each do |photo|%>
      <div class="photo-and-patients-info <%=photo.location%> <%=photo.level_of_difficulty%>" >
        <% if current_user.present? then %>
          <%=link_to(image_tag(photo.picture_url, :class => "photo-log-in"), photo_suites_path(photo), :id => "photo-link")%>
        <% else %>
          <%=image_tag(photo.picture_url, :class => "photo-no-log-in")%>
        <%end%>
        <div class="patients-description">
          <p><%= "Age: #{photo.age}"%><br>
          <%= "Sex: #{photo.sex}" %><br>
          <%= "Diameter: #{photo.diameter}" %><br>
          <%= "Location: #{photo.location}".sub('_',' ')%><br><br></p>
          <% if (current_user.present?) then %>
            <p class="percentage-name">7-points checklist:</p>
            <div class="percentage" id="percentage1" style= "width:
            <%= UsersTestStat.percentage("7-point checklist", current_user.id, photo.id)%>">
            </div>
            <p class="percentage-name">ABCD method:</p>
            <div class="percentage" id="percentage2" style= "width:
            <%= UsersTestStat.percentage("ABCD method", current_user.id, photo.id)%>">
            </div>
            <p class="percentage-name">Type of disease:</p>
            <div class="percentage" id="percentage3"style= "width:
            <%= UsersTestStat.percentage("Type of disease", current_user.id, photo.id) %>"></div>
          <%end%>

        </div>
      </div>
      <div class="line"></div>
    <% end %>
    <div class="return-to-top">
      <%=image_tag("return.jpg", :class => "return-pic")%>
    </div>
  </div>
  <div class="col-md-2 sign-up">
    <% if !(current_user.present?) then %>
      <%= form_for(User.new, :as => :user, :url => new_user_session_path) do |f| %>
         Email: <%= f.text_field :email %><br />
         Password : <%= f.password_field :password %><br />
         Password confirmation: <%= f.password_field :password_confirmation %> <br />
        <%= f.submit %>
      <% end %>
      <%=link_to("Forgot password?", new_user_password_path)%>
    <%else%>
      <%=link_to("Log out", destroy_user_session_path, method: :delete) %>
    <%end%>

    <h2 class="location-filter" what="lower_limbs">Lower limbs filter</h2>
    <h2 class="location-filter" what="upper_body"> Upper body filter</h2>
    <h2 class="difficulty-filter" what="high">High difficulty filter</h2>
    <h2 id="remove-filter">Remove filter</h2>
  </div>
</div>
