<div class="row container">
  <div class="whitespace col-md-12">
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-8">
    <% @photos.each do |photo|%>
      <div class="photo-and-patients-info <%=photo.location%> <%=photo.level_of_difficulty%>" >
        <% if current_user.present? then %>
          <%=link_to(image_tag(photo.picture_url, :class => "photo-log-in"), photo_suites_path(photo), :id => "photo-link")%>
        <% else %>
          <%=image_tag(photo.picture_url, :class => "photo-no-log-in")%>
        <%end%>
        <div class="patients-description">
          <p><%= "Age: #{photo.age}"%><br>
          <%= "Sex: #{photo.sex}" %><br>
          <%= "Diameter: #{photo.diameter}" %><br>
          <%= "Location: #{photo.location}".sub('_',' ')%><br><br></p>
          <% if (current_user.present?) then %>
            <p class="percentage-name">7-points checklist:</p>
            <div class="grey">
              <div class="percentage" id="percentage1" style= "width:
              <%= UsersTestStat.percentage("7-point checklist", current_user.id, photo.id)%>">
              </div><p class="percent-caption"><%= UsersTestStat.percent_outside("7-point checklist", current_user.id, photo.id) %></p>
            </div>

            <p class="percentage-name">ABCD method:</p>
            <div class="grey">
              <div class="percentage" id="percentage2" style= "width:
              <%= UsersTestStat.percentage("ABCD method", current_user.id, photo.id)%>">
              </div>
                <p class="percent-caption"><%= UsersTestStat.percent_outside("ABCD method", current_user.id, photo.id) %></p>
            </div>

            <p class="percentage-name">Type of disease:</p>
            <div class="grey">
              <div class="percentage" id="percentage3"style= "width:
              <%= UsersTestStat.percentage("Type of disease", current_user.id, photo.id) %>">
              </div>
                <p class="percent-caption"><%= UsersTestStat.percent_outside("Type of disease", current_user.id, photo.id) %></p>
            </div>
            <%end%>

        </div>

      </div>
      <div class="line <%=photo.location%> <%=photo.level_of_difficulty%>"></div>
    <% end %>
     <div class="return-to-top">
        <span class="glyphicon glyphicon-arrow-up" class="return-pic" aria-hidden="true"></span>
    </div>
  </div>
  <div class="col-md-3 sign-up" style="text-align:center">
    <%=link_to("Forgot password?", new_user_password_path)%>
    <h3 id="diff-text">Choose level of diagnostic difficulty:</h3>

    <div id="diff-wrapper">
      <a href="#" class="round-button easy difficulty-filter" what="low">low</a>
      <a href="#" class="round-button easy difficulty-filter" what="medium">med</a>
      <a href="#" class="round-button easy difficulty-filter" what="high">high</a>
      <a href="#" class="round-button easy" id="remove-filter">
        <span class="glyphicon glyphicon-remove" aria-hidden="true">
      </a>
    </div>
    <br>
    <br>
    <div id= "choose-loc-div">
      <%= image_tag("all.png", :id => "choose-loc-all", :class=>"choose")%>
      <%= image_tag("upperlimbs.png", :id => "choose-loc-upperlimbs", :class=>"choose")%>
      <%= image_tag("lowerlimbs.png", :id => "choose-loc-lowerlimbs", :class=>"choose")%>
      <%= image_tag("acral.png", :id => "choose-loc-acral", :class=>"choose")%>
      <%= image_tag("head-neck.png", :id => "choose-loc-headneck", :class=>"choose")%>
      <%= image_tag("abdomen.png", :id => "choose-loc-abdomen", :class=>"choose")%>
      <%= image_tag("chest.png", :id => "choose-loc-chest", :class=>"choose")%>
      <%= image_tag("back.png", :id => "choose-loc-back", :class=>"choose")%>
    <div id='upperlimbs' class="location-filter" data-bodypart="upper_limbs"></div>
    <div id= 'lowerlimbs' class="location-filter" data-bodypart="lower_limbs"></div>
    <div id= 'back' class="location-filter" data-bodypart="back"></div>
    <div id= 'acral' class="location-filter" data-bodypart="acral"></div>
    <div id= 'abdomen' class="location-filter" data-bodypart="abdomen"></div>
    <div id= 'headneck' class="location-filter" data-bodypart="head-neck"></div>
    <div id= 'chest' class="location-filter" data-bodypart="chest"></div>
    </div>
  </div>
</div>
