  <%@answers.each do |answer|%>
    <%=Question.find(answer.question_id).content%><br>
    <%= answer.content%>
    <%if @photo.send(Question.find(answer.question_id).parameter).to_s == answer.content then%>
      YAY
    <%else%>
      BOO
    <%end%>
    <br>
  <%end%>

<p>You got <%=@points%> out of <%=@max_points%> points.</p>
  <%=link_to("Home page", root_path)%><br>
  <%=link_to("My profile", user_path(current_user.id))%><br>
  <%= link_to "Choose a different test", photo_suites_path(@photo)%>
