<%=form_tag ('/replies/submit') do %>
  <%=hidden_field_tag "photo_id","#{@photo.id}"%>
  <%@questions.each do |question|%>
    <%=question.content%></br>

    <ul>
      <%question.answers.where(:photo_id => @photo.id).each do |answer|%>
        <li>
          <%= radio_button_tag "answer[#{question.id}]","#{answer.id}", :required => true%>
          <%= answer.content %>
        </li>
      <%end%>
    </ul>
  <%end%>
  <%= submit_tag ("Submit")%>
<%end%>
<%= link_to "Choose test",photo_suites_path%>
<%= link_to "Choose photo",root_path%>
