<!-- <div class="row container">
  <div class="whitespace col-md-14"> -->
    <div id="user-center">
      <h1 id="username"><%= @user.name %></h1>
      </br>
      <div id="points-div">
        <h1 id="users-points"><%= @users_points%></br></h1>
      </div>
      <br>
      <div id="total-percentage-grey" class= "total">
        <div id="total-percentage" class= "total" style="width:<%=@users_percentage%>%">
          <h1><%= @users_percentage %>%</h1></br>
        </div>
      </div>

      <br>

      <% if current_user.present? && @user == current_user then%>
        <div id="users-actions">
          <div class="action">
            <%= link_to "Destroy", user_path(@user), method: :delete, data: { confirm: "You sure?" } %>
          </div>
          <div class="action-space"></div>
          <div class="action">
            <%= link_to "Edit user", edit_user_registration_path(@user)%>
          </div>
          <div class="action-space"></div>
          <div class="action">
            <%= link_to("Change my password", edit_user_password_path)%> </br>
          </div>
        </div>
      <%end%>
    </div>

    <% if current_user.present? && @user == current_user then%>
        Recently done photos:</br>
        <% @photos_done.each do |photo| %>
          <%= image_tag(photo.picture_url, :class => "photo-log-in")%></br>
        <%end%>
    <% end %>



