<nav class= "top-menu">
  <div class= "users-menu">
      <%=image_tag("arrow-down.jpg", :class => "drop-down-img")%>
           <ul class= "drop-down-content">
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">Illustrator</a></li>
            <li><a href="#">Web Design</a></li>
          </ul>
      </li>
      <h1 class= "users-name"><a href="#">User's name</a></h1>
      <%=image_tag("Avatar-blank.jpg", :class => "users-photo")%>
  </div>
  <ul class= "nav-list">
    <li><a href="default.asp">Home</a></li>
    <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
    <li><a href="news.asp">News</a></li>
    <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</nav>

<div class ="row">
  <div class= "whitespace col-md-12">
  </div>
  <nav class="vertical-menu col-md-1">
  </nav>
  <div class = "col-md-8 col-md">
    <%@photo_names.each do |name|%>
      <div class = "photo-and-patients-info">
        <%=image_tag("photos/#{name}", :class => "photo")%>
        <div class = "patients-description">
          Age: <br>
          Sex:
          <div class = "percentage" id = "percentage1"></div>
          <div class = "percentage" id = "percentage2"></div>
          <div class = "percentage" id= "percentage3"></div>
        </div>
        <div class = "test-div">
        test
        </div>
      </div>
      <div class= "line"></div>
    <% end %>
    <div class = "return-to-top">
      <%=image_tag("return.jpg", :class => "return-pic")%>
    </div>
  </div>
</div>
