<!DOCTYPE html>
<html>
<head>
  <title>Prototyp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav class="top-menu">
  <div class="users-menu">
  <% if !(current_user.present?) then %>
      <%= form_for(User.new, :as => :user, :url => new_user_session_path, :id => "logform") do |f| %>
        <div id="forms">
           <p id="email">Email:</p> <%= f.text_field :email, class: 'input-mini' %><br />
           <p id="password">Password : <%= f.password_field :password, class: 'input-mini' %></p><br />
           <%= f.submit %>
        </div>
        <div id = "form-buttons">
          <ul>
            <li><%=link_to("Forgot password?", new_user_password_path)%></li>
            <li></li>
          </ul>
        </div>
      <% end %>
    <%else%>
          <div class="dropdown">
             <a class="dropdown-toggle users-name" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                <%="#{current_user.name}"%>
                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="position:absolute">
                <li><%=link_to("My profile", user_path(current_user), :tabindex => "-1")%></li>
                <li><%=link_to("Log out", destroy_user_session_path, method: :delete, :tabindex => "-1") %></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
              </ul>
          </div>
  <%end%>
  </div>

    <ul class="nav-list">
      <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
      <li><%=link_to("Home", root_path)%></li>
      <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
      <li><%=link_to("About", dashboard_about_path)%></li>
      <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
      <li><%=link_to("Contact", dashboard_contact_path)%></li>
      <li><span class="glyphicon glyphicon-star" aria-hidden="true"></li>
      <li><%=link_to("Sign up", new_user_registration_path)%></li>
    </ul>

</nav>


            <%= yield %>

<br>
<br>


<div class="col-md-12" style="background-color:pink; line-height:10px; bottom:0;">
  <p style="margin-top:auto; margin-bottom:auto;">Virtual Patient for dermatology by Ada Borzemska, 2015</p>
</div>


</body>
</html>
