<!DOCTYPE html>
<html>
<head>
  <title>Prototyp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav class="top-menu">
  <%if current_user.present? %>
    <div class="users-menu">
        <%=image_tag("arrow-down.jpg", :class => "drop-down-img")%>
             <ul class="drop-down-content">
              <li><a href="#">Photoshop</a></li>
              <li><a href="#">Illustrator</a></li>
              <li><a href="#">Web Design</a></li>
            </ul>
        <%=link_to("#{current_user.name}", user_path(current_user), :class => "users-name")%>
        <%=image_tag("Avatar-blank.jpg", :class => "users-photo")%>
    </div>
  <%else%>
  <%end%>
    <ul class="nav-list">
      <li><%=link_to("Home", root_path)%></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><%=link_to("Sign up", new_user_registration_path)%></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><a href="about.asp">About</a></li>
    </ul>
</nav>


            <%= yield %>




</body>
</html>
