<!DOCTYPE html>
<html>
<head>
  <title>Prototyp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav class="top-menu">
  <%if current_user.present? %>
    <div class="users-menu">
          <div class="dropdown">
             <a class="dropdown-toggle users-name" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                <%="#{current_user.name}"%>
                <b class="caret"></b>
              </a>
              <%=image_tag("Avatar-blank.jpg", :class => "users-photo")%>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="z-index:3">
                <li><%=link_to("My profile", user_path(current_user), :tabindex => "-1")%></li>
                <li><a tabindex="-1" href="#">Another action</a></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
              </ul>
          </div>
    </div>
  <%else%>
  <%end%>
    <ul class="nav-list">
      <li><%=link_to("Home", root_path)%></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><%=link_to("Sign up", new_user_registration_path)%></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><%=image_tag("dot.jpg", :class => "dot-img")%></li>
      <li><a href="about.asp">About</a></li>
    </ul>
</nav>


            <%= yield %>




</body>
</html>
